@using CV_MVC.Models.Entity
@model List<TBLCONTACT>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<!DOCTYPE html>
<html>
<body class="hold-transition sidebar-mini">
    <section class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- /.col -->
                <div class="col-md-12">
                    <div class="card">

                        <div class="card-body">

                            <div class="tab-pane" id="timeline">
                                <!-- The timeline -->
                                <div class="timeline timeline-inverse">
                                    @foreach (var item in Model)
                                    {
                                        <!-- timeline time label -->
                                        <div class="time-label">
                                            <span class="bg-gradient-lime">
                                                @item.NameSurname
                                            </span>
                                        </div>

                                        <div>
                                            <i class="fas fa-comments bg-warning"></i>
                                            <div class="timeline-item">
                                                <span class="time"><i class="far fa-clock"></i> @item.Date </span>
                                                <h3 class="timeline-header"><a href="https://mail.google.com/" target="_blank" class="text-warning">@item.Email</a> @item.Subject </h3>
                                                <div class="timeline-body">
                                                    @item.Message
                                                </div>
                                                <div class="timeline-footer">
                                                    <a href="/Contact/DeleteContact/@item.ID" class="btn btn-danger btn-sm">Delete</a>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                        <!-- /.tab-content -->
                    </div><!-- /.card-body -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
</body>
</html>