@using CV_MVC.Models.Entity
@model List<TBLABOUT> 
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


<br />

<form method="post">

    @foreach (var item in Model)
    {
        <label> Name </label>
        <input type="text" name="Name" value="@item.Name" class="form-control" />
        <br />

        <label> SurName </label>
        <input type="text" name="SurName" value="@item.Surname" class="form-control" />
        <br />

        <label> Email </label>
        <input type="text" name="Email" value="@item.Email" class="form-control" />
        <br />

        <label> Adress </label>
        <input type="text" name="Adress" value="@item.Adress" class="form-control" />
        <br />

        <label> Phone </label>
        <input type="text" name="Phone" value="@item.Phone" class="form-control" />
        <br />

        <label> Photo </label>
        <input type="text" name="Photo" value="@item.Photo" class="form-control" />
        <br />

        <label> Details </label>
        <input type="text" name="Details" value="@item.Details" class="form-control" />
    }
    <br />

    <button class="btn btn-success">Update</button>

</form>
