@model CV_MVC.Models.Entity.TBLEDUCATION
@{
    ViewBag.Title = "AddEducation";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />
<h3>Add New Education </h3>
<br />
<form method="post">

    @Html.Label("Header")
    @Html.TextBoxFor(x => x.Header, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.Header, "", new { @style = "color:red" })
    <br />

    @Html.Label("SubHeader1")
    @Html.TextBoxFor(x => x.SubHeader1, new { @class = "form-control" })
    <br />

    @Html.Label("SubHeader2")
    @Html.TextBoxFor(x => x.SubHeader2, new { @class = "form-control" })
    <br />

    @Html.Label("Date")
    @Html.TextBoxFor(x => x.Date, new { @class = "form-control" })
    <br />

    @Html.Label("GPA")
    @Html.TextBoxFor(x => x.GPA, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.GPA, "", new { @style = "color:red" })
    <br />
    <a href="/Education/Index" class="btn btn-warning">Previous Page </a>
    <button class="btn btn-success"> Save </button>

</form>
<br />

